<h1 style="justify-content: center;">Заказ успешно добавлен:</h1>
<p>Дата: @ViewBag.Дата</p>
<p>Заказчик: @ViewBag.Заказчик</p>
<p>Телефон: @ViewBag.Телефон</p>
<p>Услуга: @ViewBag.Услуга</p>
@if (ViewBag.Допуслуги != 0)
{
    <p>Доп. услуги использовались в данном заказе</p>
}
<p>Отзыв: @ViewBag.Отзыв</p>